/*
color
    arte #132164 #c80022
    background #cfbaaf #4b4c50 #a4a9aa #191e29 #3f4154 #535661 #53565a
*/

$background-color: #191e29;

$body-color:#0b0404;

$content-title-color:#ffffff;

$footnote-color: #292828;
$footnote-border-color: #d6d1d1;
$footnote-hover-background-color: #535661;
$footnote-hover-border-color: darken(#fff3a4, 35%);

$a-color:#d6d1d1;
$a-focus-outline-color:#d8d5d5;

$post-link-color:#ffffff;
$post-date-color:#d8d5d5;

$search__input-color:#ffffff;
$search__input-focus-color:#ffffff;

$site-masthead-h1-color:#ffffff;
$site-masthead-h2-color:#d8d5d5;

$search-placeholder-color:#d8d5d5;

$post-h1-color: #0b0404;
$post-p-color: #0b0404;
$post-a-hover-color: #fff3a4;

$body-font-family: "HanSerif", -apple-system, BlinkMacSystemFont, system-ui, san-serif;
$deco-font-family: "HanSerif", -apple-system, BlinkMacSystemFont, system-ui, san-serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;